# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Blockfrost (Preprod)
BLOCKFROST_API_KEY=
BLOCKFROST_URL=https://cardano-preprod.blockfrost.io/api/v0

# Server Wallet (Mesh SDK)
WALLET_MNEMONIC=

# MQTT
MQTT_BROKER_URL=mqtt://localhost:1883

# App
PORT=4000
NODE_ENV=development
