# Dependencies
node_modules/

# Env
.env
.env.local

# Build
dist/
.next/
out/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Supabase
supabase/.temp/

# Aiken
aiken/build/
aiken/artifacts/

# Docker
*.log

temp